/* SMARTPHONE RESPONSIVE */
@media (max-device-width:767px) {
  body {
    width: 100%;
  }

.container {
  width: 760px;
}


                      /* DISCOUNT */

.promo {
  text-align: center;
  font-size: 16px;
}


                      /* NAV */

/* DESKTOP NAV LINK */
.main-nav li {
  display: none;
}

/* MOBILE NAV LINK */
.secondary-nav {
  display: block;
  position: fixed;
  z-index: 2;
  background-color: white;
  padding: 15px 8px 0px 8px;
  right: 0px;
  width: 45px;
  justify-content: flex-end;
  border: 0.05px solid #D3C37B;
}

.secondary-nav img{
  width: 30px;
}

                      /* ANCHOR */

.ancre {
  right: 18px;
}


                      /* HEADBAND */

.bandeau, .bandeau-desk {
  display: none;
}

.responsive-bandeau {
  display: block;
  padding-bottom: 110px;
}

/* NEW BUTTON */
.button-bandeauResp {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: rgba(255,255,255,.9);
  font-size: 15px;
  font-weight: 500;
  color: #C09628;
  border: 1px solid #C09628;
  padding: 10px;
  top: 105px;
  left: 95px;
}

.container-pub {
  display: flex;
  justify-content: center;
  position: relative;
}


                      /* H2 */

h2 {
  margin: 0px;
  padding-bottom: 0px;
  font-size: 40px;
}


                      /* DIV MAIN */

/* SIZE IMG div main */
.imageMain{
  width :270px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/* POSITION div main */
.top, .bottom{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* SPACE BETWEEN line1 AND line2 */
.line1 {
  padding-top: 90px;
}

.histoire {
  padding-top: 20px;
}


                      /* OVERLAY & PRODUCT */

/* FONT */
.tangerine {
font-size: 45px;
}

.sf {
font-size: 20px;
padding-bottom: 45px;
}

.price {
font-size: 20px;
}

/* LINK DECOURVRIR */
.decouvrir{
padding-bottom: 45px;
}

/* BUTTON */
.cart a {
font-size: 13px;
}

.cart a:hover, .decouvrir a:hover {
display: none;
}


                      /* NEWSLETTER */

.encadrement {
  width: 100%;
  border: 0px ;
  border-top: 1px solid #D3C37B;
  border-bottom: 1px solid #D3C37B;
}


                      /* FOOTER */

.footerLogo {
  font-size: 10px;
}

/* POSITION */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* SIZE ICONS */
.icone1 {
  width: 32px;
}
.icone2 {
  width: 65px;
}
.icone3 {
  width: 30px;
}
.icone4 {
  width: 40px;
}

.footerLogo {
  align-items: center;
}

.footerCategory {
  padding-bottom: 50px;
  width: 90%;
  align-items: center;
}

/* FIELD */
input, textarea {
  align-items: center;
  margin-right: 0;
}

.contact{
  padding-right: 0;
}

/* COPYRIGHT */
.copyright{
  font-size: 10px;
}
